.Project-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 19em 0;

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }
}

.Project-Img,
.Project-Info {
  width: 50%;
}

.Project-Img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Img-Box {
  display: inline-block;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 3px;
  margin: 0 0.5em;
  transform: translateY(-15px);

  &:nth-child(2) {
    transform: translateY(15px);
  }

  img {
    height: 100%;
    object-fit: cover;
  }
}

.Project-Info {
  padding-left: 1em;

  .Project-Title {
    text-transform: uppercase;
    margin-bottom: -0.2em;
  }

  h3 {
    margin-bottom: 0.8em;
  }

  .Project-Specs {
    font-size: 1.5em;
    margin-bottom: 1.5em;
    ul {
      display: flex;

      li {
        margin-right: 1.5em;
      }
    }
  }

  p {
    margin-bottom: 2em;
  }
}

.Project-Button {
  margin-right: 4em;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .Img-Box {
    width: 150px;
    height: 250px;
  }
}

@media screen and (max-width: 768px) {
  .Project-Container {
    display: block;
    margin: 15em 0;
  }

  .Project-Img,
  .Project-Info {
    width: 100%;
  }

  .Project-Img {
    display: block;
    text-align: center;
    margin-bottom: 2em;

    .Img-Box {
      width: 150px;
      height: 250px;
      transform: translate(0);
    }
  }
}

@media screen and (max-width: 768px) {
  .Project-Container {
    display: block;
    margin: 15em 0;
  }

  .Project-Info .Project-Specs {
    font-size: 1.3em;
  }

  .Project-Img {
    .Img-Box {
      width: 120px;
      height: 220px;
    }
  }

  .Project-Button {
    margin-right: 2em;
  }
}
